/* установка шрифтов */
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Regular.ttf');
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Semibold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: OpenSans;
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: lighter;
}

/* Сброс стандартных стилей */
* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #F8F8F8;
    font-family: OpenSans;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: 0;
    padding: 10px;
    cursor: pointer;
}

/* утилитарные стили */
.d-none {
    display: none;
}

.crossed-out {
    text-decoration: line-through;
}

/* наши стили */

.header {
    display: flex;
    align-items: center;
    background-color: #3AAFDA;
    justify-content: space-between;
    height: 60px;
    color: #fff;
}

.header span {
    font-size: 1.5rem;

}

#add-task-show {
    font-size: 2rem;
    color: #fff;

}

.project-col {
    margin-top: 50px;
}

.project-card {
    height: 100%;
    box-shadow: 0px 0px 15px -5px #878787;;
}

.project-header {
    padding: 10px;
    border-bottom: 1px solid #878787;
    text-transform: uppercase;
}

.project-body {
    padding: 10px;
}

/* styles for add task form */

.add-task-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-task-form {
    background-color: #fff;
    border-radius: 5px;
    min-width: 30%;
    display: flex;
    flex-direction: column;
}

.add-task-form-header {
    padding: 10px;
    border-bottom: 1px solid #878787;
}

.add-task-form-body {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#add-task-select-project {
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
    color: #878787;
}

#add-task-title {
    margin-bottom: 10px;
    height: 40px;
    padding: 5px;
    /* color: #878787; */
}

.form-buttons-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.form-buttons-container button {
    width: 45%;
    text-transform: uppercase;
}

#add-task-submit {
    background-color: #3AAFDA;
    color: #fff;
}

#add-task-submit:hover {
    background-color: rgb(37, 112, 139);
    color: #fff;
}

#add-task-submit:active {
    background-color: #3AAFDA;
    color: #fff;
}

#add-task-cancel {
    background-color: #878787;
    color: #fff;
}

#add-task-cancel:hover {
    background-color: #3d3d3d;
    color: #fff;
}

#add-task-cancel:active {
    background-color: #878787;
    color: #fff;
}
